/*COLORS:
-#42506b
-#ef4b4c
-#3e619b
-#e9e9eb
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  color: #ef4b4c;
  background-color: #e9e9eb;
  font-family: "Mukta", sans-serif;
}
header {
  width: 100%;
  background-color: #3e619b;
}
/**************************/
/* NAVIGATION */
/**************************/
nav {
  width: 100%;
  padding: 2.4rem 5.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #42506b;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #ef4b4c;
}

.navbar-toggler {
  background-color: #42506b;
}
/**************************/
/* TABLE */
/**************************/

th,
td {
  font-size: 1.6rem;
}
table,
th,
td {
  color: #e9e9eb;
  border: 1px solid #ef4b4c;
  border-collapse: collapse;
  padding: 4.2px 4.2px;
  text-align: center;
  margin: 12.6rem auto;
}
tr:nth-child(even) {
  background-color: #3e619b;
}
tr:nth-child(odd) {
  background-color: #42506b;
}
/**************************/
/* FORM */
/**************************/
.section-cta {
  padding: 4.8rem 0 12.8rem;
}

.container {
  /* 1140px */
  max-width: 120rem;
  max-height: 80rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgb(66, 80, 107, 0.15);
  border-radius: 11px;

  background-image: linear-gradient(to right bottom, #42506b, #3e619b);
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #ef4b4c;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

form input,
form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: #e9e9eb;
  border: none;
  background-color: #3e619b;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgb(66, 80, 107, 0.1);
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  border: none;
  cursor: pointer;
  font-family: inherit;

  transition: all 0.3s;
}
.btn--form {
  background-color: #ef4b4c;
  color: #e9e9eb;
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #e9e9eb;
  color: #ef4b4c;
}
/**************************/
/* CARDS */
/**************************/
.cardContainer {
  max-width: 18rem;
}
/**************************/
/* FOOTER */
/**************************/
footer {
  display: flex;
  gap: 9.6rem;
  align-items: center;
  margin-left: 2.4rem;
}
ul {
  list-style: none;
  display: flex;
  gap: 1.6rem;
}
footer a:link,
footer a:visited {
  text-decoration: none;
  color: #42506b;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}
footer a:hover,
footer a:active {
  color: #ef4b4c;
}
